body{
    margin: 0px;
    padding: 0px;
    background-image: url(../imagens/campo.jpg);
    background-size: cover;
    background-position: center;
}


.logo img{
    float: left;
    width: 5%;
    margin-left: 5%;
}
.botoes a{
    float: right;
    color: black;
    margin: 2% 2%;
    text-decoration: none;
}

.menu{
    width: 100%;
    margin: 0%;
    display: inline-block;
    text-align: center;
    background-color: #F9F7DC;

}

.texto{
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

.botao{
    margin: 5% 40%;
    padding: 2%;
    text-align: center;
    display: block;
    background-color: #F9F7DC;
    border-radius: 20px;
}

.botao a{
    text-decoration: none;
    font-size: 40px;
    color: black;

}