body{
    margin: 0px;
    padding: 0px;
    background-image: url(../imagens/campo.jpg);
    background-size: cover;
    background-position: center;
}


.logo img{
    float: left;
    width: 5%;
    margin-left: 5%;
}
.botoes a{
    float: right;
    color: black;
    margin: 2% 2%;
    text-decoration: none;
}

.menu{
    width: 100%;
    margin: 0%;
    display: inline-block;
    text-align: center;
    background-color: #F9F7DC;

}

.box{
    background-color: #F9F7DC;
    margin: 3% 10%;
    padding: 3%;
    border-radius: 20px;
}

.box h1{
    color: #773e01;
    text-shadow: 
        -1px -1px 0px black, 
        -1px 1px 0px black,                    
        1px -1px 0px black,                  
        1px 0px 0px black;
}

.box img{
    float: right;
}