body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imagens/campo.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0%;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin: 10px 0 5px;
    text-align: left;
}

.login-box input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.login-box input::placeholder {
    color: #888;
}

.login-box .row {
    display: flex;
    justify-content: space-between;
}

.login-box .column {
    flex: 0 0 48%;
}

.login-box button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.login-box button:hover {
    background-color: #45a049;
}

.logo img{
    float: left;
    width: 5%;
    margin-left: 5%;
}
.botoes a{
    float: right;
    color: black;
    margin: 2% 2%;
    text-decoration: none;
}

.menu{
    width: 100%;
    margin: 0%;
    display: inline-block;
    text-align: center;
    background-color: #F9F7DC;

}

